@model User

<h1>Login Page</h1>
<br>
<form asp-action="Login" method="post">

    <div class="form-group">
        <label asp-for="UserEmail">Email:</label>
        <input asp-for="UserEmail" type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>

</form>
