@model User

<h1>SignUp</h1>
<br>
@if (Model != null)
{
    <div class="alert alert-danger" asp-validation-summary="All"></div>
}

<form asp-action="CreateUser" method="post">

    <div class="form-group">
        <label asp-for="UserName">Username:</label>
        <input asp-for="UserName" type="text" class="form-control" placeholder="name@example.com">
    </div>
    
    <br>
    <div class="form-group">
        <label asp-for="FullName">Full name:</label>
        <input asp-for="FullName" type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label asp-for="UserEmail">Email:</label>
        <input asp-for="UserEmail" type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone number:</label>
        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="123-456-7890">
    </div>
    <br>
    <div class="button-signup">
        <button type="submit" class="btn btn-primary">SignUp</button>
    </div>

   
</form>
<div class="form-group">
    <label asp-for="UserEmail">Do you want to</label>
    <a asp-action="GoToLogin">Login?</a>

</div>