@model User

<h1>SignUp</h1>
<br>
@if (Model != null)
{
    <div class="alert alert-danger" asp-validation-summary="All"></div>
}

<form asp-action="SaveResponse" method="post">

    <div class="form-group">
        <label asp-for="UserName">Username:</label>
        <input asp-for="UserName" type="text" class="form-control">
    </div>
    
    <br>
    <div class="form-group">
        <label asp-for="FullName">Full name:</label>
        <input asp-for="FullName" type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label asp-for="UserEmail">Email:</label>
        <input asp-for="UserEmail" type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone number:</label>
        <input asp-for="PhoneNumber" type="text" class="form-control">
    </div>
    <br>
    <div class="button-signup">
        <button type="submit" class="btn btn-primary">SignUp</button>
    </div>

    <div class="form-group">
        <label asp-for="UserEmail">Do you want to</label>
        <a asp-action="Login">Login?</a>

    </div>
</form>